.imc_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  height: 100%;
  width: 100%;

  background-color: #e6e3e3;
}

.imc_content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 52.3%;
  width: 100%;
}

.imc_table_div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 80%;
  width: 100%;
  border-radius: 50px 0 0 50px;

  font-size: 2rem;
  color: white;

  background-color: #e6e3e3;
}

.imc_low {
  animation: low 1.5s forwards;
}

@keyframes low {
  to {
    background-color: #e0bf1b;
  }
}

.imc_normal {
  animation: standard 1.5s forwards;
}

@keyframes standard {
  to {
    background-color: #51a800;
  }
}

.imc_high {
  animation: high 1.5s forwards;
}

@keyframes high {
  to {
    background-color: #ff7171;
  }
}

.imc_obesity {
  animation: obesity 1.5s forwards;
}

@keyframes obesity {
  to {
    background-color: #b91c1c;
  }
}

.imc_morbid {
  animation: morbid 1.5s forwards;
}

@keyframes morbid {
  to {
    background-color: #7a0a0a;
  }
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 70%;
  width: 100%;
}

.extra_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  height: 47.5%;
  width: 100%;
  padding-right: 15px;

  font-size: 2.5rem;
  color: #7a0a0a;

  background-image: url("/images/tomato-2780424_1920.jpg");
}

.extra_content div {
  padding: 0 15px;
  border: black solid 20px;

  background-color: rgb(255, 244, 223);
}

@media (max-width: 1050px) {
  .imc_content {
    flex-direction: column;
  }

  .imc_table_div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 50%;
    width: 100%;
    border-radius: 0px;

    font-size: 1.6rem;
  }
}
