#introduction_section {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  height: 52.3%;
  width: 100%;
  margin: 0;
  padding: 0;

  background-image: url("../public/images/salad-2756467_1920.jpg");
}

.introduction_section_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 25%;
  padding: 0px 25px 0px 25px;
  border-radius: 10px 0 0 10px;

  background-color: hsla(189, 99%, 31%, 0.92);
}

.introduction_section_content h2 {
  font-size: 3rem;
  color: white;
}

.introduction_section_content p {
  font-size: 1.5rem;
  color: white;
}

.main_paragraph {
  display: inherit;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;

  height: 40%;
}

.introduction_section_content .main_paragraph p {
  color: wheat;
}

.introduction_section_content .main_paragraph a {
  display: inherit;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.introduction_section_content .main_paragraph a:hover {
  background-color: hsla(189, 100%, 24%, 0.356);
}

.secondery_content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  height:47.8%;
  width: 100%;
}

.secondery_content .introduction_section_content {
  border-radius: 0;
  width: 50%;
  height: 100%;

  background-color: #e0bf1b;
}

.secondery_content .introduction_section_content p,
.secondery_content .introduction_section_content h2 {
  color: #3f3f3f;
  font-weight: bold;
}

.secondery_content .open_form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #e6e3e3;
}

.secondery_content .open_form button {
  height: 20%;
  width: 30%;
  border: none;
  border-radius: 50px;

  font-weight: bold;
  font-size: 1.4rem;
  color: #e6e3e3;

  background-color: #3f3f3f;
}

.secondery_content .open_form button:hover {
  background-color: #e0bf1b;
  color: #3f3f3f;
}

@media (max-width: 1050px){
  .introduction_section_content {
    height: 100%;
    width: 60%;
    padding: 0px 25px 0px 25px;
    border-radius: 10px 0 0 10px;
  
    background-color: hsla(189, 99%, 31%, 0.92);
  }

  .secondery_content {
    flex-direction: column;
  }

  .secondery_content .introduction_section_content {
    border-radius: 0;
    width: 100%;
    height: 50%;
  }

  .secondery_content .open_form h2{
    font-size: 2rem;
  }
}