#introduction_section{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: url('../public/images/salad-2756467_1920.jpg');
  justify-content: flex-end;
  align-items: center;
}

.introduction_section_content{
  display: flex;
  height: 100%;
  width: 25%;
  padding: 0px 25px 0px 25px;
  background-color: hsla(189, 99%, 31%, 0.92);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}

.introduction_section_content h2{
  font-size: 3rem;
  color: white;
}

.introduction_section_content p{
  font-size: 1.5rem;
  color: white;
}

.main_paragraph{
  display: inherit;
  height: 40%;
  flex-direction: inherit;
  justify-content: center;
  align-items: center;
}

.introduction_section_content .main_paragraph p{
  color: wheat;
}

.introduction_section_content .main_paragraph a{
  display: inherit;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}